@model IEnumerable<B6C2.bloodResource>

@{
    ViewBag.Title = "Blood Resources";
}

<h2>Blood Resources</h2>

<p>
    @Html.ActionLink("Add new blood resource", "CreateBloodResource")
</p>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        @TempData["Success"].ToString()
    </div>
    TempData["Success"] = null;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blood.group)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.idCenter.ToString() == User.Identity.Name.ToString().Substring(0, 1))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blood.group)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditBloodResource", new { CenterID = item.idCenter, BloodID = item.idBlood }) |
                    @Html.ActionLink("Details", "DetailsBloodResource", new { CenterID = item.idCenter, BloodID = item.idBlood }) 
                </td>
            </tr>
        }

    }

</table>
<p>
    @Html.ActionLink("Go back to home", "Index", "Home")
</p>