@model B6C2.Hospital

@{
    ViewBag.Title = "Hospital Details";
}

<h2>Hospital Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "HospitalEdit", new { id = Model.idHospital }) |
    @Html.ActionLink("Back to the Hospitals' List", "HospitalIndex")
</p>
