@model B6C2.Transaction

@{
    ViewBag.Title = "TransactionDetails";
}

<h2>TransactionDetails</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blood.group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blood.group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donationCenter.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donationCenter.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospital.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>

@if (User.IsInRole("CentreEmployee"))
{
<p>
    @Html.ActionLink("Edit", "TransactionEdit", new { id = Model.idTransaction }) |
    @Html.ActionLink("Back to the transactions", "TransactionIndex", "Transaction")
</p>
}

@if (User.IsInRole("Medic"))
{
    <p>
        @Html.ActionLink("Back to the transactions", "TransactionIndex", "Transaction")
    </p>
}
