@model B6C2.Models.DonorRegisterViewModel
@{
    ViewBag.Title = "Register Donor";
}
@using (Html.BeginForm("RegisterDonor", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <br />
    <h4>Register as a new donor by entering your data in the fields below</h4>
    if (TempData["UserAlreadyExists"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["UserAlreadyExists"].ToString()
        </div>
        TempData["UserAlreadyExists"] = null;
    }
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.idBlood, "Blood group", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idBlood", new List<SelectListItem>
               {
                new SelectListItem { Text = "Group: 0, Rh: +", Value = "1"},
                new SelectListItem { Text = "Group: 0, Rh: -", Value = "2"},
                new SelectListItem { Text = "Group: A, Rh: +", Value = "3"},
                new SelectListItem { Text = "Group: A, Rh: -", Value = "4"},
                new SelectListItem { Text = "Group: B, Rh: +", Value = "5"},
                new SelectListItem { Text = "Group: B, Rh: -", Value = "6"},
                new SelectListItem { Text = "Group: AB, Rh: +", Value = "7"},
                new SelectListItem { Text = "Group: AB, Rh: -", Value = "8"},
                new SelectListItem { Text = "I don't know it", Value = "9"},
               }, "Select Blood group and Rh")
            @Html.ValidationMessageFor(model => model.idBlood, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CNP, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CNP, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CNP, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.firstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.firstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.firstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.lastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.lastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.lastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.birthDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.birthDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.birthDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.address, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.address, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.phoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.phoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.phoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
        <p>
            @Html.ActionLink("Go back to home", "Index", "Home")
        </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
